{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/appjoboard/css/jobs.css') }}" type="text/css" media="all">
{% endblock %}

{% block content -%}
    <table class="records_list table table-bordered">
    <thead>
    <tr>
        <th>Адрес</th>
        <th>Вакансия</th>
        <th>Компания</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(["even", "odd"], loop.index) }}">
            <td>{{ entity.location }}</td>
            <td><a href="{{ path('app_job_show', { 'id': entity.id, 'company': entity.company, 'location': entity.location, 'position': entity.position }) }}">{{ entity.position }}</a></td>
            <td>{{ entity.company }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>{% endblock %}
